@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  @font-face {
    font-family: "helvetica";
    src: url("fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

  p:not(:last-child) {
    margin-bottom: 1em;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1.5rem; 
    overflow: hidden;
  }
}

@layer components {
  .round {
    @apply rounded-3xl;
  }

  .container {
    @apply flex-1 round p-3 focus:outline-none focus-visible:ring-2 ring-black ring-inset;
  }

  .artist-background {
    @apply absolute w-full h-full object-cover motion-safe:transition-opacity motion-safe:duration-500;
  }

  .artist-circle {
    @apply absolute w-full h-full overflow-hidden motion-safe:transition-opacity motion-safe:duration-500;
  }

  .artist-circle-img {
    @apply absolute inset-0 w-full h-full object-cover;
  }

  .block-type-text {
    @apply p-3 rounded-3xl bg-theme-text;
  }

  .figcaption {
    @apply container bg-theme-figcaption;
  }
}
