@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  @font-face {
    font-family: "HelveticaNeueLTPro";
    src: url("../fonts/HelveticaNeueLTPro-Md.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }

  @font-face {
    font-family: "HelveticaNeueLTPro";
    src: url("../fonts/HelveticaNeueLTPro-Hv.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

  p:not(:last-child) {
    margin-bottom: 1em;
  }

  details {
    position: relative;
  }

  details > summary {
    list-style: none;
    position: relative;
    cursor: pointer;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }

  details > summary::after {
    position: absolute;
    right: 0.5rem;
    top: 2px;
    content: "\00a0\00a0+";
    font-weight: 700;
    line-height: 1;
  }

  details:open > summary::after {
    content: "\00a0\00a0–";
  }

  iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .accessibility ul {
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .accessibility h2 {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 1em;
  }

  .accessibility h3 {
    font-size: 1.125em;
    text-decoration: underline;
    margin-bottom: 1em;
  }

  .accessibility a {
    text-decoration: underline;
  }

  ol {
    list-style: none !important;
    list-style-type: none !important;
    counter-reset: ol-counter;
    margin-left: 1em;
    font-variant-numeric: tabular-nums;
  }

  ol li {
    counter-increment: ol-counter;
    position: relative;
    list-style: none !important;
    list-style-type: none !important;
  }

  ol li:not(:last-child) {
    margin-bottom: 1em;
  }

  ol li::before {
    content: "[" counter(ol-counter) "]";
    position: absolute;
    left: -1.7em;
    font-weight: inherit;
  }
}

@layer components {
  .container {
    @apply flex-1 rounded-3xl p-3 focus:outline-none focus-visible:ring-2 ring-black ring-inset border border-black max-w-full;
  }

  .artist-background {
    @apply absolute w-full h-full object-cover motion-safe:transition-opacity motion-safe:duration-500;
  }

  .artist-circle {
    @apply absolute z-10 w-full h-full overflow-hidden motion-safe:transition-opacity motion-safe:duration-500;
  }

  .artist-circle-default {
    @apply absolute z-0 w-full h-full overflow-hidden motion-safe:transition-opacity motion-safe:duration-500;
  }

  .artist-circle-img {
    @apply absolute inset-0 w-full h-full object-cover;
  }

  .figcaption {
    @apply leading-tight container bg-theme-figcaption text-sm;
  }

  .text-block {
    @apply leading-tight p-3 rounded-3xl bg-theme-text [&_a]:text-focus;
  }

  .ul {
    @apply underline;
  }

  .text-focus {
    @apply [&_a]:underline focus:[&_a]:outline-none focus-visible:[&_a]:ring-2 [&_a]:ring-black [&_a]:ring-offset-1;
  }
}
